In [ ]:
# import pandas
# import sqlite3 
# chicago_crime_data=pandas.read_csv("ChicagoCrimeData.csv")
# chicago_crime_data.head()

In [2]:
# chicago_crime_data.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [4]:
# try:
#     conn=sqlite3.connect("Chicago_crime_data.db")   
#     c=conn.cursor()
#     print("connected successfully")
# except:
#     print("Unable to connect")

connected successfully

In [5]:
# conn=sqlite3.connect("chicago_test_data.db")
# c=conn.cursor()
# # print("success")

success

In [9]:
# chicago_crime_data.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [11]:
# c.executescript("""drop table if exists ChicagoCrimeData1; 
# CREATE TABLE ChicagoCrimeData1(ID, CASE_NUMBER, DATE, BLOCK,IUCR, PRIMARY_TYPE,DESCRIPTION, LOCATION_DESCRIPTION, ARREST, DOMESTIC,BEAT,
#        DISTRICT, WARD, COMMUNITY_AREA_NUMBER, FBICODE, X_COORDINATE,
#        Y_COORDINATE, YEAR, LATITUDE, LONGITUDE, LOCATION)""")
# conn.commit()

In [12]:
# chicago_crime_data.to_sql("ChicagoCrimeData1",conn,if_exists="replace",index=False)

In [14]:
# c.execute("select PRIMARY_TYPE from ChicagoCrimeData1 LIMIT 5")
# for row in c.fetchall():
#     print(row)

('THEFT',)
('THEFT',)
('THEFT',)
('THEFT',)
('THEFT',)

In [15]:
# #total number of crimes
# c.execute("select count(*) from ChicagoCrimeData1")
# print(c.fetchall())

[(533,)]

In [18]:
# #all kidnapping crimes involving a child
# c.execute("select CASE_NUMBER,PRIMARY_TYPE from ChicagoCrimeData1 WHERE PRIMARY_TYPE LIKE '%KIDNAPPING%' AND DESCRIPTION LIKE '%CHILD%'")
# for row in c.fetchall():
#     print(row)

('HN144152', 'KIDNAPPING')

In [19]:
# #What kind of crimes recorded at school
# c.execute("select PRIMARY_TYPE from ChicagoCrimeData1 where LOCATION_DESCRIPTION LIKE '%SCHOOL%'")
# for row in c.fetchall():
#     print(row)

('BATTERY',)
('BATTERY',)
('BATTERY',)
('BATTERY',)
('BATTERY',)
('CRIMINAL DAMAGE',)
('NARCOTICS',)
('NARCOTICS',)
('ASSAULT',)
('CRIMINAL TRESPASS',)
('PUBLIC PEACE VIOLATION',)
('PUBLIC PEACE VIOLATION',)

In [21]:
import pandas
import sqlite3
chicago_crime_data=pandas.read_csv("ChicagoCrimeData.csv")
chicago_crime_data.head(2)

        ID CASE_NUMBER  ...  LONGITUDE                       LOCATION
0  3512276    HK587712  ... -87.703956    (41.8074405, -87.703955849)
1  3406613    HK456306  ... -87.716406  (41.898279962, -87.716405505)

[2 rows x 21 columns]

In [24]:
try:
    conn=sqlite3.connect("ChicagoCrimeData1.db")
    c=conn.cursor()
    print("Connected successfully")
except:
    print("Unable to connect")

Connected successfully

In [25]:
c.executescript(""" 
CREATE TABLE ChicagoCrimeData1(ID, CASE_NUMBER, DATE, BLOCK,IUCR, PRIMARY_TYPE,DESCRIPTION, LOCATION_DESCRIPTION, ARREST, DOMESTIC,BEAT,
       DISTRICT, WARD, COMMUNITY_AREA_NUMBER, FBICODE, X_COORDINATE,
       Y_COORDINATE, YEAR, LATITUDE, LONGITUDE, LOCATION)""")
conn.commit()

In [31]:
chicago_crime_data.to_sql("ChicagoCrimeData1",conn,if_exists="replace",index=False)

In [36]:
c.execute("select PRIMARY_TYPE from ChicagoCrimeData1 LIMIT 2 ")
for row in c.fetchall():
    print(row)

('THEFT',)
('THEFT',)

In [39]:
#Most repeated(frequent) value in COMMUNTY_AREA_NUMBER
c.execute("select COMMUNITY_AREA_NUMBER from ChicagoCrimeData1 group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) DESC LIMIT 1")
print(c.fetchall())

[(25.0,), (23.0,), (68.0,)]