<h3>Chicago Schoool Data</h3>

In [1]:

import pandas
chicago_school_data = pandas.read_csv('ChicagoPublicSchools.csv')
# get_ipython().run_line_magic('sql', 'PERSIST chicago_socioeconomic_data')
chicago_school_data.head()

,School_ID,NAME_OF_SCHOOL,"Elementary, Middle, or High School",Street_Address,City,State,ZIP_Code,Phone_Number,Link,Network_Manager,...,Freshman_on_Track_Rate__,X_COORDINATE,Y_COORDINATE,Latitude,Longitude,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,Ward,Police_District,Location
0,610038,Abraham Lincoln Elementary School,ES,615 W Kemper Pl,Chicago,IL,60614,(773) 534-5720,http://schoolreports.cps.edu/SchoolProgressRep...,Fullerton Elementary Network,...,NDA,1171699.458,1915829.428,41.924497,-87.644522,7,LINCOLN PARK,43,18,"(41.92449696, -87.64452163)"
1,610281,Adam Clayton Powell Paideia Community Academy ...,ES,7511 S South Shore Dr,Chicago,IL,60649,(773) 535-6650,http://schoolreports.cps.edu/SchoolProgressRep...,Skyway Elementary Network,...,NDA,1196129.985,1856209.466,41.760324,-87.556736,43,SOUTH SHORE,7,4,"(41.76032435, -87.55673627)"
2,610185,Adlai E Stevenson Elementary School,ES,8010 S Kostner Ave,Chicago,IL,60652,(773) 535-2280,http://schoolreports.cps.edu/SchoolProgressRep...,Midway Elementary Network,...,NDA,1148427.165,1851012.215,41.747111,-87.731702,70,ASHBURN,13,8,"(41.74711093, -87.73170248)"
3,609993,Agustin Lara Elementary Academy,ES,4619 S Wolcott Ave,Chicago,IL,60609,(773) 535-4389,http://schoolreports.cps.edu/SchoolProgressRep...,Pershing Elementary Network,...,NDA,1164504.290,1873959.199,41.809757,-87.672145,61,NEW CITY,20,9,"(41.8097569, -87.6721446)"
4,610513,Air Force Academy High School,HS,3630 S Wells St,Chicago,IL,60609,(773) 535-1590,http://schoolreports.cps.edu/SchoolProgressRep...,Southwest Side High School Network,...,91.8,1175177.622,1880745.126,41.828146,-87.632794,34,ARMOUR SQUARE,11,9,"(41.82814609, -87.63279369)"

In [2]:
chicago_school_data["NAME_OF_SCHOOL"].value_counts()

Abraham Lincoln Elementary School                              1
Mildred I Lavizzo Elementary School                            1
Matthew Gallistel Elementary Language Academy                  1
Medgar Evers Elementary School                                 1
Melville W Fuller Elementary School                            1
                                                              ..
Garrett A Morgan Elementary School                             1
Galileo Math & Science Scholastic Academy Elementary School    1
Gage Park High School                                          1
Friedrich W von Steuben Metropolitan Science High School       1
World Language Academy High School                             1
Name: NAME_OF_SCHOOL, Length: 566, dtype: int64

In [3]:
import sqlite3
conn = sqlite3.connect('main_database.db')
c = conn.cursor()
# c.execute("""create table ChicagoSchoolData(SAFETY_SCORE)""")
# conn.commit()

In [4]:
chicago_school_data["SAFETY_SCORE"].to_sql("ChicagoSchoolData",conn,if_exists="replace",index=False)

566

Problem 6: List the average safety score for all types of schools.

In [5]:
# chicago_school_data[["Safety_Icon","SAFETY_SCORE"]].head()
# chicago_school_data["SAFETY_SCORE"].value_counts()
# chicago_school_data["NAME_OF_SCHOOL"].value_counts()


# Average SAFETY_SCORE for all schools
# chicago_school_data["SAFETY_SCORE"].mean()
c.execute("select avg(SAFETY_SCORE) from ChicagoSchoolData")
print(c.fetchall()[0][0])

49.50487329434698

In [6]:
chicago_school_data.columns
# chicago_school_data.describe

Index(['School_ID', 'NAME_OF_SCHOOL', 'Elementary, Middle, or High School',
       'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link',
       'Network_Manager', 'Collaborative_Name',
       'Adequate_Yearly_Progress_Made_', 'Track_Schedule',
       'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level',
       'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE',
       'Family_Involvement_Icon', 'Family_Involvement_Score',
       'Environment_Icon', 'Environment_Score', 'Instruction_Icon',
       'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon',
       'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score',
       'Parent_Environment_Icon', 'Parent_Environment_Score',
       'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts__per_100_students_',
       'Average_Teacher_Attendance',
       'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy__',
       'Pk_2_Math__', 'Gr3_5_Grade_Level_Math__', 'Gr3_5_Grade_Level_Read__',
       'Gr3_5_Keep_Pace_Read__', 'Gr3_5_Keep_Pace_Math__',
       'Gr6_8_Grade_Level_Math__', 'Gr6_8_Grade_Level_Read__',
       'Gr6_8_Keep_Pace_Math_', 'Gr6_8_Keep_Pace_Read__',
       'Gr_8_Explore_Math__', 'Gr_8_Explore_Read__', 'ISAT_Exceeding_Math__',
       'ISAT_Exceeding_Reading__', 'ISAT_Value_Add_Math',
       'ISAT_Value_Add_Read', 'ISAT_Value_Add_Color_Math',
       'ISAT_Value_Add_Color_Read', 'Students_Taking__Algebra__',
       'Students_Passing__Algebra__', '9th Grade EXPLORE (2009)',
       '9th Grade EXPLORE (2010)', '10th Grade PLAN (2009)',
       '10th Grade PLAN (2010)', 'Net_Change_EXPLORE_and_PLAN',
       '11th Grade Average ACT (2011)', 'Net_Change_PLAN_and_ACT',
       'College_Eligibility__', 'Graduation_Rate__',
       'College_Enrollment_Rate__', 'COLLEGE_ENROLLMENT',
       'General_Services_Route', 'Freshman_on_Track_Rate__', 'X_COORDINATE',
       'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER',
       'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location'],
      dtype='object')

In [7]:
# import sqlite3
# conn = sqlite3.connect('main_database.db')
# c = conn.cursor()

In [8]:
# c.execute("create table ChicagoSchoolData('School_ID', 'NAME_OF_SCHOOL', 'Elementary, Middle, or High School',
#        'Street_Address', 'City', 'State', 'ZIP_Code', 'Phone_Number', 'Link',
#        'Network_Manager', 'Collaborative_Name',
#        'Adequate_Yearly_Progress_Made_', 'Track_Schedule',
#        'CPS_Performance_Policy_Status', 'CPS_Performance_Policy_Level',
#        'HEALTHY_SCHOOL_CERTIFIED', 'Safety_Icon', 'SAFETY_SCORE',
#        'Family_Involvement_Icon', 'Family_Involvement_Score',
#        'Environment_Icon', 'Environment_Score', 'Instruction_Icon',
#        'Instruction_Score', 'Leaders_Icon', 'Leaders_Score', 'Teachers_Icon',
#        'Teachers_Score', 'Parent_Engagement_Icon', 'Parent_Engagement_Score',
#        'Parent_Environment_Icon', 'Parent_Environment_Score',
#        'AVERAGE_STUDENT_ATTENDANCE', 'Rate_of_Misconducts__per_100_students_',
#        'Average_Teacher_Attendance',
#        'Individualized_Education_Program_Compliance_Rate', 'Pk_2_Literacy__',
#        'Pk_2_Math__', 'Gr3_5_Grade_Level_Math__', 'Gr3_5_Grade_Level_Read__',
#        'Gr3_5_Keep_Pace_Read__', 'Gr3_5_Keep_Pace_Math__',
#        'Gr6_8_Grade_Level_Math__', 'Gr6_8_Grade_Level_Read__',
#        'Gr6_8_Keep_Pace_Math_', 'Gr6_8_Keep_Pace_Read__',
#        'Gr_8_Explore_Math__', 'Gr_8_Explore_Read__', 'ISAT_Exceeding_Math__',
#        'ISAT_Exceeding_Reading__', 'ISAT_Value_Add_Math',
#        'ISAT_Value_Add_Read', 'ISAT_Value_Add_Color_Math',
#        'ISAT_Value_Add_Color_Read', 'Students_Taking__Algebra__',
#        'Students_Passing__Algebra__', '9th Grade EXPLORE (2009)',
#        '9th Grade EXPLORE (2010)', '10th Grade PLAN (2009)',
#        '10th Grade PLAN (2010)', 'Net_Change_EXPLORE_and_PLAN',
#        '11th Grade Average ACT (2011)', 'Net_Change_PLAN_and_ACT',
#        'College_Eligibility__', 'Graduation_Rate__',
#        'College_Enrollment_Rate__', 'COLLEGE_ENROLLMENT',
#        'General_Services_Route', 'Freshman_on_Track_Rate__', 'X_COORDINATE',
#        'Y_COORDINATE', 'Latitude', 'Longitude', 'COMMUNITY_AREA_NUMBER',
#        'COMMUNITY_AREA_NAME', 'Ward', 'Police_District', 'Location')")
# c.commit()

In [9]:
# # chicago_crime_data.to_sql("ChicagoSchoolData", conn, if_exists='replace', index = False)
# c.execute("select count(ID) from ChicagoCrimeData ")
# i=0
# for row in c.fetchall():
#     if(i==4):
#         break
#     i+=1
#     print(row)

# Chicago Census Data

In [10]:
chicago_sensus_data=pandas.read_csv("ChicagoCensusData.csv")
chicago_sensus_data.head()

,COMMUNITY_AREA_NUMBER,COMMUNITY_AREA_NAME,PERCENT_OF_HOUSING_CROWDED,PERCENT_HOUSEHOLDS_BELOW_POVERTY,PERCENT_AGED_16__UNEMPLOYED,PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,PERCENT_AGED_UNDER_18_OR_OVER_64,PER_CAPITA_INCOME,HARDSHIP_INDEX
0,1.0,Rogers Park,7.7,23.6,8.7,18.2,27.5,23939,39.0
1,2.0,West Ridge,7.8,17.2,8.8,20.8,38.5,23040,46.0
2,3.0,Uptown,3.8,24.0,8.9,11.8,22.2,35787,20.0
3,4.0,Lincoln Square,3.4,10.9,8.2,13.4,25.5,37524,17.0
4,5.0,North Center,0.3,7.5,5.2,4.5,26.2,57123,6.0

In [11]:
chicago_sensus_data.columns

Index(['COMMUNITY_AREA_NUMBER', 'COMMUNITY_AREA_NAME',
       'PERCENT_OF_HOUSING_CROWDED', 'PERCENT_HOUSEHOLDS_BELOW_POVERTY',
       'PERCENT_AGED_16__UNEMPLOYED',
       'PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA',
       'PERCENT_AGED_UNDER_18_OR_OVER_64', 'PER_CAPITA_INCOME',
       'HARDSHIP_INDEX'],
      dtype='object')

In [12]:
c.execute("""create table if not exists ChicagoSensusData(COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, PERCENT_OF_HOUSING_CROWDED, PERCENT_HOUSEHOLDS_BELOW_POVERTY,
    PERCENT_AGED_16__UNEMPLOYED,
       PERCENT_AGED_25__WITHOUT_HIGH_SCHOOL_DIPLOMA,
       PERCENT_AGED_UNDER_18_OR_OVER_64, PER_CAPITA_INCOME,
       HARDSHIP_INDEX)""")
conn.commit()

In [13]:
chicago_sensus_data.to_sql("ChicagoSensusData",conn,if_exists="replace",index=False)
# chicago_crime_data.to_sql("ChicagoCrimeData", conn, if_exists='replace', index = False)

78

Problem 2: List community areas with per capita income less than 11000.

In [14]:
c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData where PER_CAPITA_INCOME<11000 ")
for row in c.fetchall():
    print(row)

('West Garfield Park',)
('South Lawndale',)
('Fuller Park',)
('Riverdale',)

Problem 7: List 5 community areas with highest % of households below poverty line.

In [15]:
c.execute("select COMMUNITY_AREA_NAME, PERCENT_HOUSEHOLDS_BELOW_POVERTY from ChicagoSensusData ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC")
i=0
for row in c.fetchall():
    if(i<5):
        print(row[0])
    i+=1

Riverdale
Fuller Park
Englewood
North Lawndale
East Garfield Park

Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [16]:
# chicago_sensus_data["HARDSHIP_INDEX"].value_counts().idxmax()
chicago_sensus_data["HARDSHIP_INDEX"].max()

98.0

In [17]:
c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData where HARDSHIP_INDEX=98.0")
print(c.fetchall())

[('Riverdale',)]

In [18]:
c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData where  HARDSHIP_INDEX= (select max(HARDSHIP_INDEX) from ChicagoSensusData)")
print(c.fetchall()[0][0])

Riverdale

In [19]:
c.execute("select max(HARDSHIP_INDEX) from ChicagoSensusData")
print(c.fetchall())

[(98.0,)]

Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

<h3>chicago crime data required here to get community number to solve the question</h3>

In [20]:
#chicago crime data required here, otherwise chicago crime data is done below separately
import pandas
chicago_crime_data = pandas.read_csv('ChicagoCrimeData.csv')
# get_ipython().run_line_magic('sql', 'PERSIST chicago_socioeconomic_data')
chicago_crime_data.tail(5)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
528,10453948,HZ192829,2016-03-01,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,4,7.0,46.0,26,1196679.0,1853139.0,2016,41.751885,-87.554826,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,2016-01-29,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,False,False,...,1,2.0,28.0,26,1172257.0,1897564.0,2016,41.874363,-87.643013,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,2003-11-08,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,False,False,...,6,21.0,71.0,04B,1169648.0,1851076.0,2003,41.746852,-87.653941,"(41.746852486, -87.653941385)"
531,10840565,JA143710,2017-02-06,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,11,37.0,23.0,26,1148881.0,1905963.0,2017,41.897895,-87.728622,"(41.89789489, -87.728622316)"
532,1326195,G021609,2001-01-11,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,4,NaN,NaN,08B,1196869.0,1847416.0,2001,41.736176,-87.554320,"(41.73617608, -87.554319607)"

In [21]:
chicago_crime_data["COMMUNITY_AREA_NUMBER"].value_counts()

25.0    43
23.0    22
68.0    21
28.0    16
29.0    16
        ..
47.0     1
55.0     1
75.0     1
33.0     1
12.0     1
Name: COMMUNITY_AREA_NUMBER, Length: 70, dtype: int64

In [22]:
# c.execute('CREATE TABLE ChicagoCrimeData (ca, community_area_name,percent_of_housing_crowded,percent_households_below_poverty, percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64, per_capita_income_,hardship_index)')
# c.execute("drop table if exists ChicagoCrimeData")
c.execute("""CREATE TABLE if not exists ChicagoCrimeData(ID, CASE_NUMBER, DATE, BLOCK,IUCR, PRIMARY_TYPE,DESCRIPTION, LOCATION_DESCRIPTION, ARREST, DOMESTIC,BEAT,
       DISTRICT, WARD, COMMUNITY_AREA_NUMBER, FBICODE, X_COORDINATE,
       Y_COORDINATE, YEAR, LATITUDE, LONGITUDE, LOCATION)""")
conn.commit()

In [23]:
# c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData where COMMUNITY_AREA_NUMBER=(select max(COMMUNITY_AREA_NUMBER) from ChicagoCrimeData)")
# c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData where COMMUNITY_AREA_NUMBER=25.0")
c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData WHERE COMMUNITY_AREA_NUMBER=(select COMMUNITY_AREA_NUMBER from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) DESC  LIMIT 1)")
# c.execute("select COMMUNITY_AREA_NUMBER,count(COMMUNITY_AREA_NUMBER) from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) desc  limit 1")
# print(c.fetchall())
for row in c.fetchall():
    print(row)

('Austin',)

In [24]:
# select column, COUNT(column) AS MOST_FREQUENT
# from TABLE_NAME
# GROUP BY column
# ORDER BY COUNT(column) DESC

In [25]:
# c.execute("select COMMUNITY_AREA_NAME from ChicagoSensusData group by COMMUNITY_AREA_NAME order by count(COMMUNITY_AREA_NAME) DESC")
c.execute("select count(*) from ChicagoSensusData where COMMUNITY_AREA_NAME='Woodlawn'")
i=0
for row in c.fetchall():
    if(i<5):
        print(row)
    i+=1

(1,)

# Chicago Crime Data

In [26]:

import pandas
chicago_crime_data = pandas.read_csv('ChicagoCrimeData.csv')
# get_ipython().run_line_magic('sql', 'PERSIST chicago_socioeconomic_data')
chicago_crime_data.tail(5)

,ID,CASE_NUMBER,DATE,BLOCK,IUCR,PRIMARY_TYPE,DESCRIPTION,LOCATION_DESCRIPTION,ARREST,DOMESTIC,...,DISTRICT,WARD,COMMUNITY_AREA_NUMBER,FBICODE,X_COORDINATE,Y_COORDINATE,YEAR,LATITUDE,LONGITUDE,LOCATION
528,10453948,HZ192829,2016-03-01,028XX E 79TH ST,1055,HUMAN TRAFFICKING,INVOLUNTARY SERVITUDE,APARTMENT,False,False,...,4,7.0,46.0,26,1196679.0,1853139.0,2016,41.751885,-87.554826,"(41.751885152, -87.554825997)"
529,10397129,HZ133234,2016-01-29,006XX W HARRISON ST,5114,NON - CRIMINAL,FOID - REVOCATION,STREET,False,False,...,1,2.0,28.0,26,1172257.0,1897564.0,2016,41.874363,-87.643013,"(41.874363279, -87.643013039)"
530,3269495,HJ747227,2003-11-08,012XX W 81ST ST,510,RITUALISM,AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY,OTHER,False,False,...,6,21.0,71.0,04B,1169648.0,1851076.0,2003,41.746852,-87.653941,"(41.746852486, -87.653941385)"
531,10840565,JA143710,2017-02-06,009XX N KARLOV AVE,5073,NON-CRIMINAL (SUBJECT SPECIFIED),NOTIFICATION OF CIVIL NO CONTACT ORDER,RESIDENCE,False,True,...,11,37.0,23.0,26,1148881.0,1905963.0,2017,41.897895,-87.728622,"(41.89789489, -87.728622316)"
532,1326195,G021609,2001-01-11,087XX S ESCANABA AV,9901,DOMESTIC VIOLENCE,DOMESTIC VIOLENCE,APARTMENT,True,True,...,4,NaN,NaN,08B,1196869.0,1847416.0,2001,41.736176,-87.554320,"(41.73617608, -87.554319607)"

In [27]:
chicago_crime_data["DISTRICT"].value_counts()

11    48
8     44
7     38
4     33
12    32
6     31
25    30
15    29
19    26
9     25
3     24
10    23
2     21
16    19
14    17
18    17
17    17
5     16
1     14
22    10
24    10
20     9
Name: DISTRICT, dtype: int64

In [28]:
# chicago_socioeconomic_data.head()
chicago_crime_data.columns

Index(['ID', 'CASE_NUMBER', 'DATE', 'BLOCK', 'IUCR', 'PRIMARY_TYPE',
       'DESCRIPTION', 'LOCATION_DESCRIPTION', 'ARREST', 'DOMESTIC', 'BEAT',
       'DISTRICT', 'WARD', 'COMMUNITY_AREA_NUMBER', 'FBICODE', 'X_COORDINATE',
       'Y_COORDINATE', 'YEAR', 'LATITUDE', 'LONGITUDE', 'LOCATION'],
      dtype='object')

In [29]:
chicago_crime_data["LOCATION_DESCRIPTION"].value_counts()

STREET                               136
RESIDENCE                             84
SIDEWALK                              64
APARTMENT                             59
OTHER                                 18
PARKING LOT/GARAGE(NON.RESID.)        16
ALLEY                                 11
RESTAURANT                            11
RESIDENCE-GARAGE                      10
RESIDENCE PORCH/HALLWAY               10
DEPARTMENT STORE                       9
VEHICLE NON-COMMERCIAL                 9
SMALL RETAIL STORE                     8
GROCERY FOOD STORE                     8
RESIDENTIAL YARD (FRONT/BACK)          6
GAS STATION                            6
SCHOOL, PUBLIC, GROUNDS                6
BANK                                   5
SCHOOL, PUBLIC, BUILDING               5
CHURCH/SYNAGOGUE/PLACE OF WORSHIP      5
BAR OR TAVERN                          4
COMMERCIAL / BUSINESS OFFICE           4
AIRPORT/AIRCRAFT                       3
CTA PLATFORM                           3
CHA PARKING LOT/GROUNDS                3
DRUG STORE                             3
POLICE FACILITY/VEH PARKING LOT        2
CHA APARTMENT                          2
OTHER COMMERCIAL TRANSPORTATION        2
CONSTRUCTION SITE                      2
NURSING HOME/RETIREMENT HOME           2
CTA BUS                                1
TAVERN/LIQUOR STORE                    1
HOUSE                                  1
CONVENIENCE STORE                      1
SCHOOL, PRIVATE, BUILDING              1
COLLEGE/UNIVERSITY GROUNDS             1
CHA HALLWAY/STAIRWELL/ELEVATOR         1
LIBRARY                                1
VACANT LOT/LAND                        1
CTA TRAIN                              1
CLEANING STORE                         1
FACTORY/MANUFACTURING BUILDING         1
HOSPITAL BUILDING/GROUNDS              1
ATHLETIC CLUB                          1
WAREHOUSE                              1
MOVIE HOUSE/THEATER                    1
GOVERNMENT BUILDING/PROPERTY           1
Name: LOCATION_DESCRIPTION, dtype: int64

<h6>insert chicago_crime_dataset into database table ChicagoCrimeData</h6>

In [30]:
chicago_crime_data.to_sql("ChicagoCrimeData", conn, if_exists='replace', index = False)

533

Problem 8: Which community area(number) is most crime prone?

In [31]:
#.idxmax() gives most repeated data value from column
# chicago_crime_data["COMMUNITY_AREA_NUMBER"].value_counts().idxmax()
# c.execute("select COMMUNITY_AREA_NUMBER from ChicagoCrimeData where (select max(COMMUNITY_AREA_NUMBER) from ChicagoCrimeData)")
c.execute("select COMMUNITY_AREA_NUMBER from ChicagoCrimeData group by COMMUNITY_AREA_NUMBER order by count(COMMUNITY_AREA_NUMBER) DESC LIMIT 1")

print(c.fetchall()[0][0])
# for row in c.fetchall():
#     print(row[0])

25.0

In [32]:
# df_communityAreaNumber=chicago_crime_data["COMMUNITY_AREA_NUMBER"].value_counts()  #From here we get 25.0 as most crime prone area number

# type(df_communityAreaNumber)

#We printed community area number i.e. 25.0 by doing (where= COMMUNITY_AREA_NUMBER=25.0)
#Result limited to one line due to "count"
c.execute("select COMMUNITY_AREA_NUMBER,count(COMMUNITY_AREA_NUMBER) from ChicagoCrimeData where COMMUNITY_AREA_NUMBER=25.0")
# print(c.fetchall()[0])
for row in c.fetchall():
    print(row[0])

25.0

In [33]:
# To see what values are present in PRIMARY_TYPE column...To know the types of crime

In [34]:

# chicago_crime_data["PRIMARY_TYPE"].value_counts()
# chicago_crime_data["DESCRIPTION"].value_counts().tail(50)
chicago_crime_data["LOCATION_DESCRIPTION"].value_counts().tail(50)

STREET                               136
RESIDENCE                             84
SIDEWALK                              64
APARTMENT                             59
OTHER                                 18
PARKING LOT/GARAGE(NON.RESID.)        16
ALLEY                                 11
RESTAURANT                            11
RESIDENCE-GARAGE                      10
RESIDENCE PORCH/HALLWAY               10
DEPARTMENT STORE                       9
VEHICLE NON-COMMERCIAL                 9
SMALL RETAIL STORE                     8
GROCERY FOOD STORE                     8
RESIDENTIAL YARD (FRONT/BACK)          6
GAS STATION                            6
SCHOOL, PUBLIC, GROUNDS                6
BANK                                   5
SCHOOL, PUBLIC, BUILDING               5
CHURCH/SYNAGOGUE/PLACE OF WORSHIP      5
BAR OR TAVERN                          4
COMMERCIAL / BUSINESS OFFICE           4
AIRPORT/AIRCRAFT                       3
CTA PLATFORM                           3
CHA PARKING LOT/GROUNDS                3
DRUG STORE                             3
POLICE FACILITY/VEH PARKING LOT        2
CHA APARTMENT                          2
OTHER COMMERCIAL TRANSPORTATION        2
CONSTRUCTION SITE                      2
NURSING HOME/RETIREMENT HOME           2
CTA BUS                                1
TAVERN/LIQUOR STORE                    1
HOUSE                                  1
CONVENIENCE STORE                      1
SCHOOL, PRIVATE, BUILDING              1
COLLEGE/UNIVERSITY GROUNDS             1
CHA HALLWAY/STAIRWELL/ELEVATOR         1
LIBRARY                                1
VACANT LOT/LAND                        1
CTA TRAIN                              1
CLEANING STORE                         1
FACTORY/MANUFACTURING BUILDING         1
HOSPITAL BUILDING/GROUNDS              1
ATHLETIC CLUB                          1
WAREHOUSE                              1
MOVIE HOUSE/THEATER                    1
GOVERNMENT BUILDING/PROPERTY           1
Name: LOCATION_DESCRIPTION, dtype: int64

In [35]:
# import sqlite3
# conn = sqlite3.connect('main_database.db')
# c = conn.cursor()

In [36]:
# # c.execute('CREATE TABLE ChicagoCrimeData (ca, community_area_name,percent_of_housing_crowded,percent_households_below_poverty, percent_aged_16_unemployed,percent_aged_25_without_high_school_diploma,percent_aged_under_18_or_over_64, per_capita_income_,hardship_index)')
# # c.execute("drop table if exists ChicagoCrimeData")
# c.execute("""CREATE TABLE if not exists ChicagoCrimeData(ID, CASE_NUMBER, DATE, BLOCK,IUCR, PRIMARY_TYPE,DESCRIPTION, LOCATION_DESCRIPTION, ARREST, DOMESTIC,BEAT,
#        DISTRICT, WARD, COMMUNITY_AREA_NUMBER, FBICODE, X_COORDINATE,
#        Y_COORDINATE, YEAR, LATITUDE, LONGITUDE, LOCATION)""")
# conn.commit()

In [37]:
chicago_crime_data.to_sql("ChicagoCrimeData", conn, if_exists='replace', index = False)

533

In [38]:
c.execute("select count(ID) from ChicagoCrimeData ")
for row in c.fetchall():
    print(row)

(533,)

In [39]:
# Problem 1: Find the total number of crimes recorded in the CRIME table.
c.execute("select count(distinct(ID)) as count from ChicagoCrimeData ")
print("Count")
# print(c.fetchall())
for row in c.fetchall():
    print(row[0])

Count
533

Problem 3: List all case numbers for crimes  involving minors?

In [40]:
c.execute("select CASE_NUMBER,DESCRIPTION from ChicagoCrimeData")
for row in c.fetchall():    
    if("MINOR" in row[1]):   
        print(row[0])

HL266884
HK238408

Problem 4: List all kidnapping crimes involving a child?

In [41]:
# c.execute("select PRIMARY_TYPE,DESCRIPTION  from ChicagoCrimeData where PRIMARY_TYPE='KIDNAPPING'")
# for row in c.fetchall():
#     if("CHILD" in row[1]):
#         print(row)
c.execute("select PRIMARY_TYPE,DESCRIPTION from ChicagoCrimeData where PRIMARY_TYPE LIKE '%KIDNAPPING%' AND DESCRIPTION LIKE '%CHILD%' ")
for row in c.fetchall():
    print(row)

('KIDNAPPING', 'CHILD ABDUCTION/STRANGER')

Problem 5: What kind of crimes were recorded at schools

In [42]:
# c.execute("select PRIMARY_TYPE,DESCRIPTION from ChicagoCrimeData where PRIMARY_TYPE LIKE '%KIDNAPPING%' AND DESCRIPTION LIKE '%CHILD%' ")

c.execute("select PRIMARY_TYPE,LOCATION_DESCRIPTION from ChicagoCrimeData WHERE LOCATION_DESCRIPTION LIKE '%SCHOOL%'")
for row in c.fetchall():
    # if("SCHOOL" in row[1]):
        print(row[0])

BATTERY
BATTERY
BATTERY
BATTERY
BATTERY
CRIMINAL DAMAGE
NARCOTICS
NARCOTICS
ASSAULT
CRIMINAL TRESPASS
PUBLIC PEACE VIOLATION
PUBLIC PEACE VIOLATION